# CentOS 6.x kickstart file - ks6.cfg
#
# For more information on kickstart syntax and commands, refer to the
# CentOS Installation Guide:
# https://access.redhat.com/site/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Installation_Guide/s1-kickstart2-options.html
#
# For testing, you can fire up a local http server temporarily.
# cd to the directory where this ks.cfg file resides and run the following:
#    $ python -m SimpleHTTPServer
# You don't have to restart the server every time you make changes.  Python
# will reload the file from disk every time.  As long as you save your changes
# they will be reflected in the next HTTP download.  Then to test with
# a PXE boot server, enter the following on the PXE boot prompt:
#    > linux text ks=http://<your_ip>:8000/ks.cfg

# Required settings
lang en_US.UTF-8
keyboard us
rootpw vagrant
authconfig --enableshadow --enablemd5
timezone UTC

# Optional settings
install
user --name=vagrant --plaintext --password vagrant
network --bootproto=dhcp --onboot=on --noipv6
firewall --enabled
selinux --enforcing
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
firstboot --disabled
reboot

%packages --nobase --ignoremissing --excludedocs
# vagrant needs this to copy initial files via scp
openssh-clients
# other packages
curl
wget
sudo
yum-utils
yum-security
bind-utils
nscd
ntp
acpid
vim
traceroute
-postfix

# Selinux
policycoreutils
selinux-policy
selinux-policy-targeted
libselinux
libselinux-utils
libselinux-python
# Workaround for selinux
-system-config-firewall-tui
system-config-firewall-base

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-irqbalance
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

services --enabled=acpid,nscd,ntpdate,ntpd,sshd
services --disabled=ip6tables

%post
# disable zeroconf & ipv6
echo 'NOZEROCONF=yes' >> /etc/sysconfig/network
echo 'RES_OPTIONS=rotate' >> /etc/sysconfig/network
echo "NETWORKING_IPV6=no" >> /etc/sysconfig/network
echo "IPV6INIT=no" >> /etc/sysconfig/network
sed -i '/::1/ d' /etc/hosts
sysctl -w net.ipv6.conf.all.disable_ipv6=1

cat >>/etc/sysctl.conf <<EOF
# IPv6
net.ipv6.conf.all.disable_ipv6 = 1
net.ipv6.conf.default.disable_ipv6 = 1
net.ipv6.conf.lo.disable_ipv6 = 1
EOF

# Disable root login
sed -ie 's/PermitRootLogin no/#PermitRootLogin no/g' /etc/ssh/sshd_config
# configure vagrant user in sudoers
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
cp /etc/sudoers /etc/sudoers.orig
sed -i "s/^\(.*requiretty\)$/#\1/" /etc/sudoers
%end
